Section.SignInStyle .left-panel-background-colour {
  background-image: url("../../assets/images/signin-bg2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding: 0;
}
Section.SignInStyle .signin-panel {
  height: 100vh;
  padding: 0;
  background-color: #fff;
}
Section.SignInStyle .signin-panel-title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 35px;
  letter-spacing: 0.2em;
  line-height: 21px;
  text-align: left;
  color: #000;
}
Section.SignInStyle .welcome-back-text, Section.SignInStyle .wrong-back-text {
  margin-top: 20px;
  font-weight: normal;
  font-size: 18px;
  line-height: 13px;
  color: #999;
}
Section.SignInStyle .wrong-back-text {
  color: #c0392b;
}
Section.SignInStyle .signin-form {
  width: 470px;
  position: absolute;
  top: 50%;
  margin-top: -133px;
}
Section.SignInStyle .username-input, Section.SignInStyle .password-input {
  background: transparent;
  border: none;
  border-bottom: 2px solid #e9e9f0;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 470px;
  padding: 5px;
  box-sizing: border-box;
}
Section.SignInStyle .username-input:hover, Section.SignInStyle .password-input:hover {
  border-bottom: 2px solid #000;
}
Section.SignInStyle .username-input:focus, Section.SignInStyle .password-input:focus {
  border-bottom: 2px solid #000;
}
Section.SignInStyle .submit-btn {
  margin-top: 15px;
  width: 120px;
  height: 40px;
  background: #000;
  border: 3px #000 solid;
  color: #ffffff;
  border: none;
  float: left;
  margin-right: 30px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
}
Section.SignInStyle .submit-btn:hover {
  background: none;
  color: #000;
  border: 3px #000 solid;
}
Section.SignInStyle a:hover {
  color: #000;
}

Section.SplashStyle {
  width: 100%;
  min-width: 990px;
  background-color: #eee;
}
Section.SplashStyle nav {
  position: fixed;
  width: 100%;
  min-width: 990px;
  z-index: 101;
}
Section.SplashStyle nav div {
  width: 80%;
  margin: 0 auto;
  margin-top: 40px;
  position: relative;
  background: #000;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}
Section.SplashStyle nav a, Section.SplashStyle nav a:hover {
  color: #000;
}
Section.SplashStyle nav a h1, Section.SplashStyle nav a:hover h1 {
  font-size: 28px;
  background: #fff;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  padding: 7px 12px 7px 18px;
  margin: 0;
  display: inline-block;
}
Section.SplashStyle nav ul {
  display: inline-block;
  list-style: none;
  vertical-align: top;
  padding: 0;
  margin: 0;
  height: 47px;
}
Section.SplashStyle nav ul li {
  display: inline-block;
  height: 47px;
  line-height: 47px;
  padding: 0 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}
Section.SplashStyle nav ul li a, Section.SplashStyle nav ul li a:hover, Section.SplashStyle nav ul li a.s {
  color: #fff;
}
Section.SplashStyle nav ul li a:hover, Section.SplashStyle nav ul li a.s, Section.SplashStyle nav ul li a:hover:hover, Section.SplashStyle nav ul li a:hover.s, Section.SplashStyle nav ul li a.s:hover, Section.SplashStyle nav ul li a.s.s {
  text-decoration: underline;
}
Section.SplashStyle nav a.adminLink {
  float: right;
  color: #fff;
  line-height: 47px;
  padding: 0 20px;
  border-left: 2px solid #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}
Section.SplashStyle nav a.adminLink:hover {
  background: #fff;
  color: #000;
  text-decoration: none;
}
Section.SplashStyle div.banner, Section.SplashStyle div.artist {
  height: 500px;
  background-position: center center;
  background-size: cover;
  text-align: center;
  color: #fff;
  font-size: 90px;
  letter-spacing: -4px;
  line-height: 550px;
}
Section.SplashStyle div.artist p {
  width: 80%;
  height: 500px;
  margin: 0;
  margin: 0 auto;
  text-align: left;
  margin-top: -570px;
  font-weight: bold;
  line-height: 850px;
}
Section.SplashStyle div.artist p img {
  border-radius: 100px;
  width: 100px;
  height: 100px;
  margin-right: 30px;
  margin-top: -15px;
  border: 5px #fff solid;
  object-fit: cover;
}
Section.SplashStyle div.artist img {
  width: 100%;
  height: 500px;
  margin-top: -70px;
  object-fit: cover;
}
Section.SplashStyle div.banner.home {
  background-image: url("../../assets/images/home.gif");
}
Section.SplashStyle div.banner.other {
  height: 320px;
  line-height: 390px;
}
Section.SplashStyle div.banner.other p {
  width: 80%;
  height: 320px;
  margin: 0 auto;
  text-align: left;
  font-size: 60px;
  font-weight: bold;
  letter-spacing: -2px;
}
Section.SplashStyle div.banner.other.artist {
  background-image: url("../../assets/images/artist.jpeg");
}
Section.SplashStyle div.banner.other.artist p {
  height: 320px;
  line-height: 390px;
}
Section.SplashStyle div.banner.other.releases {
  background-position: top;
  background-image: url("../../assets/images/releases.jpeg");
}
Section.SplashStyle div.banner.other.about {
  background-image: url("../../assets/images/about.jpeg");
}
Section.SplashStyle div.banner.other.video {
  background-image: url("../../assets/images/videos.jpeg");
}
Section.SplashStyle ul.home, Section.SplashStyle ul.home-flip {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 80%;
  margin: 0 auto;
  margin-top: 40px;
}
Section.SplashStyle ul.home li:first-child, Section.SplashStyle ul.home-flip li:first-child {
  font-size: 60px;
  width: 30%;
  line-height: 60px;
  font-weight: bold;
  border-top: 10px #000 solid;
  padding-top: 20px;
  text-align: right;
  letter-spacing: -2px;
}
Section.SplashStyle ul.home li:first-child img, Section.SplashStyle ul.home-flip li:first-child img {
  width: 100%;
  margin-bottom: 20px;
}
Section.SplashStyle ul.home li:first-child a, Section.SplashStyle ul.home-flip li:first-child a {
  margin: 0;
  padding: 0;
  display: block;
  text-align: center;
  font-size: 18px;
  font-weight: normal;
  letter-spacing: normal;
}
Section.SplashStyle ul.home li:first-child a:hover, Section.SplashStyle ul.home-flip li:first-child a:hover {
  color: #000;
}
Section.SplashStyle ul.home li, Section.SplashStyle ul.home-flip li {
  width: 70%;
  display: inline-block;
  vertical-align: top;
}
Section.SplashStyle ul.home li:last-of-type, Section.SplashStyle ul.home-flip li:last-of-type {
  padding-left: 40px;
}
Section.SplashStyle ul.home li:last-of-type h1, Section.SplashStyle ul.home-flip li:last-of-type h1 {
  font-size: 60px;
  font-weight: bold;
  letter-spacing: -2px;
}
Section.SplashStyle ul.home li:last-of-type h2, Section.SplashStyle ul.home-flip li:last-of-type h2 {
  font-weight: bold;
}
Section.SplashStyle ul.home li:last-of-type div, Section.SplashStyle ul.home-flip li:last-of-type div {
  width: 100%;
  height: 360px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
Section.SplashStyle ul.home li:last-of-type div img, Section.SplashStyle ul.home-flip li:last-of-type div img {
  width: 100%;
  height: 360px;
  object-fit: cover;
}
Section.SplashStyle ul.home li:last-of-type div iframe, Section.SplashStyle ul.home-flip li:last-of-type div iframe {
  border-radius: 10px;
  border: none;
}
Section.SplashStyle ul.home li:last-of-type div a:hover h1, Section.SplashStyle ul.home-flip li:last-of-type div a:hover h1 {
  text-decoration: underline;
}
Section.SplashStyle ul.home li:last-of-type div h1, Section.SplashStyle ul.home-flip li:last-of-type div h1 {
  font-weight: bold;
  font-size: 60px;
  letter-spacing: -2px;
  position: absolute;
  bottom: 10px;
  left: 30px;
  color: #fff;
}
Section.SplashStyle ul.home li:last-of-type div ul, Section.SplashStyle ul.home-flip li:last-of-type div ul {
  width: 300px;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 40px;
  background: #fff;
  border-radius: 0 10px 10px 0;
}
Section.SplashStyle ul.home li:last-of-type div ul h1, Section.SplashStyle ul.home-flip li:last-of-type div ul h1 {
  position: relative;
  left: 0;
  bottom: 0;
  margin-bottom: 30px;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
Section.SplashStyle ul.home li:last-of-type div ul li:first-of-type, Section.SplashStyle ul.home-flip li:last-of-type div ul li:first-of-type {
  border-top: 1px #eee solid;
}
Section.SplashStyle ul.home li:last-of-type div ul li:last-of-type, Section.SplashStyle ul.home-flip li:last-of-type div ul li:last-of-type {
  padding: 10px 0;
  border-bottom: 0;
}
Section.SplashStyle ul.home li:last-of-type div ul li, Section.SplashStyle ul.home-flip li:last-of-type div ul li {
  padding: 10px 0;
  width: 100%;
  border-bottom: 1px #eee solid;
}
Section.SplashStyle ul.home li:last-of-type ul.songList, Section.SplashStyle ul.home-flip li:last-of-type ul.songList {
  margin: 0;
  padding: 0;
  margin-top: 20px;
}
Section.SplashStyle ul.home li:last-of-type ul.songList li, Section.SplashStyle ul.home-flip li:last-of-type ul.songList li {
  border: 0;
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: normal;
  letter-spacing: 0;
  line-height: normal;
  width: 100%;
  height: auto;
  text-align: left;
  padding-bottom: 15px;
  padding-top: 15px;
  border-bottom: 1px #ccc solid;
}
Section.SplashStyle ul.home li:last-of-type ul.songList li:last-child, Section.SplashStyle ul.home-flip li:last-of-type ul.songList li:last-child {
  padding-top: 15px;
  border-bottom: none;
  color: #999;
}
Section.SplashStyle div.video-list {
  width: 90%;
  margin: 0 auto;
  margin-top: 40px;
}
Section.SplashStyle div.video-list ul li {
  background-color: #fff;
  display: inline-block;
  margin: 5px;
  border-radius: 10px;
}
Section.SplashStyle div.video-list ul li iframe {
  width: 576px;
  height: 360px;
  margin: 15px;
  border-radius: 10px;
  display: block;
}
Section.SplashStyle div.video-list ul li img {
  border-radius: 100px;
  width: 100px;
  height: 100px;
  margin: 10px;
  border: 5px #fff solid;
  object-fit: cover;
  margin-bottom: 40px;
  margin-left: 20px;
}
Section.SplashStyle div.video-list ul li span {
  font-size: 60px;
  line-height: 60px;
  font-weight: bold;
  padding: 20px 0;
  text-align: left;
  letter-spacing: -2px;
}
Section.SplashStyle ul.home-flip li:first-child {
  width: 70%;
  display: inline-block;
  vertical-align: top;
  border-top: none;
  padding: 0;
  padding-right: 40px;
  text-align: left;
}
Section.SplashStyle ul.home-flip li:first-child div {
  width: 100%;
  height: 360px;
  border-radius: 10px;
  background-image: url("../../assets/images/feat1.jpeg");
  background-size: cover;
  background-position: center center;
}
Section.SplashStyle ul.home-flip li:last-child {
  font-size: 60px;
  width: 30%;
  line-height: 60px;
  font-weight: bold;
  border-top: 10px #000 solid;
  padding-top: 20px;
  padding-left: 0;
  letter-spacing: -2px;
}
Section.SplashStyle div.list {
  width: 80%;
  margin: 0 auto;
  margin-top: 40px;
}
Section.SplashStyle div.list h1 {
  font-size: 60px;
  line-height: 60px;
  font-weight: bold;
  border-top: 10px #000 solid;
  padding: 20px 0;
  text-align: left;
  letter-spacing: -2px;
}
Section.SplashStyle div.list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
Section.SplashStyle div.list ul li {
  box-sizing: border-box;
  width: 25%;
  display: inline-block;
  vertical-align: top;
}
Section.SplashStyle div.list ul li div {
  border-radius: 10px;
  background: #fff;
  padding: 20px;
  text-align: center;
  margin: 0 10px;
  margin-bottom: 20px;
}
Section.SplashStyle div.list ul li div a:hover {
  color: #000;
}
Section.SplashStyle div.list ul li div h2 {
  margin-top: 20px;
  font-size: 28px;
}
Section.SplashStyle div.list ul li div img {
  width: 200px;
  height: 200px;
  border-radius: 200px;
  background: #000;
  object-fit: cover;
}
Section.SplashStyle div.list ul.album li div img {
  border-radius: 0;
  object-fit: cover;
}
Section.SplashStyle div.list ul.about {
  list-style: none;
  margin: 0;
  padding: 0;
}
Section.SplashStyle div.list ul.about li:first-child {
  width: 70%;
  display: inline-block;
  vertical-align: top;
}
Section.SplashStyle div.list ul.about li:first-child iframe {
  width: 100%;
  height: 300px;
  border-radius: 10px;
}
Section.SplashStyle div.list ul.about li {
  width: 30%;
}
Section.SplashStyle div.list ul.about li ul {
  padding-left: 40px;
}
Section.SplashStyle div.list ul.about li ul li, Section.SplashStyle div.list ul.about li ul li:first-child {
  width: 100%;
  display: block;
  font-size: 20px;
  margin-bottom: 10px;
}
Section.SplashStyle div.list ul.about li ul li i, Section.SplashStyle div.list ul.about li ul li:first-child i {
  height: 100%;
  width: 20px;
  margin-right: 10px;
}
Section.SplashStyle div.list ul.about-list li {
  width: 20%;
  vertical-align: top;
}
Section.SplashStyle div.list ul.about-list li div {
  background: none;
  vertical-align: top;
}
Section.SplashStyle div.list ul.about-list li div img {
  width: 100px;
  height: 100px;
  border-radius: 100px;
}
Section.SplashStyle div.list ul.about-list li div h2 {
  font-size: 24px;
}
Section.SplashStyle div.list ul.about-list li div span {
  font-size: 16px;
  color: #999;
}
Section.SplashStyle div.list.extra {
  border-top: 5px #000 solid;
  margin-top: 20px;
  padding-top: 20px;
}
Section.SplashStyle div.list.extra h2 {
  font-weight: bold;
}
Section.SplashStyle div.list.extra ul.album {
  margin-top: 20px;
}
Section.SplashStyle div.list.extra ul.album li h2 {
  font-weight: normal;
}
Section.SplashStyle footer {
  margin-top: 40px;
  background: #000;
}
Section.SplashStyle footer div.c {
  width: 80%;
  margin: 0 auto;
  padding: 40px 0;
}
Section.SplashStyle footer div.c i {
  font-size: 28px;
  background: #fff;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  padding: 7px 12px 7px 18px;
  display: inline-block;
  font-style: normal;
}
Section.SplashStyle footer div.c p {
  width: 185px;
  margin-top: 20px;
  color: #fff;
  text-align: center;
}

/*# sourceMappingURL=SplashStyle.css.map */
