section.PortalStyle nav {
  width: 100%;
  background: #FFF;
  position: fixed;
  top: 0;
  z-index: 101;
}
section.PortalStyle nav ul {
  width: 80%;
  height: 70px;
  min-width: 990px;
  max-width: 1200px;
  margin: 0;
  padding: 0;
  margin: 0 auto;
  list-style: none;
}
section.PortalStyle nav ul li {
  display: inline-block;
  vertical-align: top;
}
section.PortalStyle nav ul li:nth-child(1) {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 28px;
  letter-spacing: 10px;
  background: #000;
  padding: 14px 10px 14px 20px;
}
section.PortalStyle nav ul li:nth-child(1) a {
  color: #fff;
  text-decoration: none;
}
section.PortalStyle nav ul li:nth-child(2), section.PortalStyle nav ul li:nth-child(3), section.PortalStyle nav ul li:nth-child(4) {
  padding: 23px 20px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}
section.PortalStyle nav ul li:nth-child(2) a, section.PortalStyle nav ul li:nth-child(3) a, section.PortalStyle nav ul li:nth-child(4) a {
  color: #000;
  border-bottom: 2px transparent solid;
}
section.PortalStyle nav ul li:nth-child(2) a:hover, section.PortalStyle nav ul li:nth-child(3) a:hover, section.PortalStyle nav ul li:nth-child(4) a:hover {
  text-decoration: none;
  border-bottom-color: #000;
}
section.PortalStyle nav ul li:nth-child(2) a.s, section.PortalStyle nav ul li:nth-child(3) a.s, section.PortalStyle nav ul li:nth-child(4) a.s {
  text-decoration: none;
  border-bottom-color: #000;
}
section.PortalStyle nav ul li:nth-child(5), section.PortalStyle nav ul li:nth-child(6) {
  text-align: right;
  float: right;
}
section.PortalStyle nav ul li:nth-child(5) img {
  border-radius: 70px;
  margin-top: 10px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
section.PortalStyle nav ul li:nth-child(6) {
  padding-top: 15px;
  margin-right: 20px;
  font-size: 20px;
  line-height: 20px;
}
section.PortalStyle nav ul li:nth-child(6) p, section.PortalStyle nav ul li:nth-child(6) a {
  color: #000;
  margin: 0;
  padding: 0;
  display: inline-block;
  font-size: 12px;
  margin-left: 10px;
}
section.PortalStyle nav ul li:nth-child(6) p:last-child {
  cursor: pointer;
}
section.PortalStyle nav ul li:nth-child(6) p:last-child:hover {
  text-decoration: underline;
}
section.PortalStyle header {
  margin: 0 auto;
  margin-top: 100px;
  padding-bottom: 10px;
  width: 80%;
  max-width: 1200px;
  min-width: 990px;
  font-size: 28px;
  letter-spacing: 10px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
  border-bottom: 2px #000 solid;
}
section.PortalStyle header a {
  float: right;
  border: 2px #000 solid;
  font-size: 14px;
  letter-spacing: normal;
  text-transform: none;
  padding: 7px 13px;
  font-weight: normal;
  color: #000;
}
section.PortalStyle header a:hover {
  background: #000;
  color: #fff;
  text-decoration: none;
}
section.PortalStyle ul.artistList, section.PortalStyle ul.userList, section.PortalStyle ul.albumsList {
  margin: 0;
  padding: 0;
  margin: 0 auto;
  list-style: none;
  margin-top: 40px;
  padding-bottom: 100px;
  width: 80%;
  min-width: 990px;
  max-width: 1200px;
}
section.PortalStyle ul.artistList div.nothingFound, section.PortalStyle ul.userList div.nothingFound, section.PortalStyle ul.albumsList div.nothingFound {
  min-width: 990px;
  max-width: 1200px;
  text-align: center;
  font-size: 48px;
  font-weight: bold;
}
section.PortalStyle ul.artistList div.nothingFound span, section.PortalStyle ul.userList div.nothingFound span, section.PortalStyle ul.albumsList div.nothingFound span {
  display: block;
  color: #999;
  font-size: 28px;
  font-weight: normal;
}
section.PortalStyle ul.artistList li, section.PortalStyle ul.userList li, section.PortalStyle ul.albumsList li {
  vertical-align: top;
  display: inline-block;
  width: 33.3%;
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
}
section.PortalStyle ul.artistList li div, section.PortalStyle ul.userList li div, section.PortalStyle ul.albumsList li div {
  background: #fff;
  padding: 40px;
  border-radius: 10px;
  margin: 0 10px;
  position: relative;
}
section.PortalStyle ul.artistList li div a, section.PortalStyle ul.userList li div a, section.PortalStyle ul.albumsList li div a {
  color: #000;
}
section.PortalStyle ul.artistList li div img, section.PortalStyle ul.userList li div img, section.PortalStyle ul.albumsList li div img {
  width: 212px;
  height: 212px;
  border-radius: 212px;
  object-fit: cover;
}
section.PortalStyle ul.artistList li div h2, section.PortalStyle ul.userList li div h2, section.PortalStyle ul.albumsList li div h2 {
  margin-top: 20px;
  font-size: 24px;
}
section.PortalStyle ul.artistList li div p, section.PortalStyle ul.userList li div p, section.PortalStyle ul.albumsList li div p {
  color: #999;
}
section.PortalStyle ul.artistList li div p span.delete, section.PortalStyle ul.userList li div p span.delete, section.PortalStyle ul.albumsList li div p span.delete {
  color: #999;
  position: absolute;
  top: 20px;
  right: 20px;
}
section.PortalStyle ul.artistList li div p span.delete:hover, section.PortalStyle ul.userList li div p span.delete:hover, section.PortalStyle ul.albumsList li div p span.delete:hover {
  color: #000;
  cursor: pointer;
}
section.PortalStyle ul.albumsList li div img {
  border-radius: 0;
}
section.PortalStyle div.c {
  margin: 0 auto;
  width: 80%;
  min-width: 990px;
}
section.PortalStyle div.c div.settingsLeft, section.PortalStyle div.c form.settingsRight {
  width: 50%;
  display: inline-block;
  position: relative;
  background-color: #fff;
  vertical-align: top;
  padding: 40px;
  box-sizing: border-box;
}
section.PortalStyle div.c div.settingsLeft p.wrong-back-text, section.PortalStyle div.c form.settingsRight p.wrong-back-text {
  margin: 0;
  color: #c0392b;
  margin-top: 15px;
  height: 44px;
  line-height: 44px;
}
section.PortalStyle div.c div.settingsLeft p.green, section.PortalStyle div.c form.settingsRight p.green {
  color: green;
}
section.PortalStyle div.c div.settingsLeft input.textInput.half, section.PortalStyle div.c form.settingsRight input.textInput.half {
  width: 50%;
}
section.PortalStyle div.c div.settingsLeft img, section.PortalStyle div.c div.settingsLeft div.fileUploadOverlay, section.PortalStyle div.c form.settingsRight img, section.PortalStyle div.c form.settingsRight div.fileUploadOverlay {
  display: block;
  width: 212px;
  height: 212px;
  border-radius: 212px;
  margin: 0 auto;
  object-fit: cover;
}
section.PortalStyle div.c div.settingsLeft div.fileUploadOverlay, section.PortalStyle div.c form.settingsRight div.fileUploadOverlay {
  opacity: 0;
  z-index: 99;
  position: absolute;
  left: 50%;
  margin-left: -106px;
  text-align: center;
  font-size: 20px;
  color: #fff;
  background: rgba(0, 0, 0, 0.7);
  line-height: 212px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
}
section.PortalStyle div.c div.settingsLeft div.fileUploadOverlay:hover, section.PortalStyle div.c form.settingsRight div.fileUploadOverlay:hover {
  opacity: 1;
  cursor: pointer;
}
section.PortalStyle div.c div.settingsLeft h2, section.PortalStyle div.c form.settingsRight h2 {
  font-size: 20px;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold;
  margin-bottom: 40px;
}
section.PortalStyle div.c div.settingsLeft form, section.PortalStyle div.c form.settingsRight form {
  display: none;
}
section.PortalStyle div.c ul.videoList {
  list-style: none;
  margin: 0;
  padding: 0;
}
section.PortalStyle div.c ul.videoList h2 {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
section.PortalStyle div.c ul.videoList li {
  width: 33.3%;
  height: 240px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin-bottom: 20px;
}
section.PortalStyle div.c ul.videoList li:last-child form {
  opacity: 0;
  width: 0;
  height: 0;
}
section.PortalStyle div.c ul.videoList li:last-child div div.fileUploadOverlay {
  margin: 5px;
  width: 100%;
  height: 240px;
  border: 3px #000 dashed;
  line-height: 240px;
  font-size: 72px;
  font-weight: bold;
}

/*# sourceMappingURL=PortalStyle.css.map */
